<div class="main container clearfix">
    <h1>
        <span id="<%= device_name %>_status" class="status" title="Status unknown"></span>
        <%= device_name.toUpperCase() %>
        <small>Thermal sensor</small>
    </h1>
    <div class="getting-started">
        <p>
            Data:
            <span id="<%= device_name %>" style="font-size:25px">Loading&hellip;</span>
        </p>
        <p>IP: <code><%= device_data.ip %>:<%= device_data.port %></code></p>
        <p>Message count: <%= device_data.msg_count %></p>
        <p>Last ping: <%= device_data.last_ping %></p>
        <p>Connectable devices:</p>
        <p>Connected devices:</p>
    </div>
    <div class="links">
        <h4>What would you like to do?</h4>
        <ul>
            <li><a>PING this device</a></li>
            <li><a>RESET this device</a></li>
            <li><a>Release from connections</a></li>
            <li><a>Drop all connections</a></li>
        </ul>
    </div>
</div>
